html, body {
    width:  100%;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    padding-bottom: 75px;
}

#root {
    position: relative;
    width: 100%;
}

.chart {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.day {
    background-color: #fff;
    transition: background-color 0.4s, color 0.4s
}

.night {
    background-color: #26333f;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}

.night-switch {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.night-switch-text {
    color: #00aceb;
}
